@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
span {
    font-size: 50px;
    font-weight: bold; 
    line-height: 200px;
    letter-spacing: 5px;
    font-family: fantasy; 
  }
  